body{
	display: block;
}

.page{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	background-color: #fff;
	width: 100%;
}

header{
	margin-bottom: 30px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	background-color: #e2f8fb;
	border-radius: 6px;
	padding: 15px;
	box-shadow: 0 0 8px #ddd;
	border: 1px solid #cff0f5;
}	

nav{
	display: flex;
	align-items: stretch;
	flex-basis: 50%;
	justify-content: space-between;
}

hr{
	border-top: 1px solid rgba(0, 171, 198, 0.31);
}

#left-padding{
	background-image: url(../img/pattern-left.png);
	flex-basis: 69px;
	box-shadow: -70px 0 30px #fff inset;
}
#right-padding{
	background-image: url(../img/pattern-right.png);
	flex-basis: 69px;
	box-shadow: 70px 0 30px #fff inset;
}

#wrapper{
	flex-grow: 1;
	padding-top: 15px;
}

#vert-delim{
	background-image: url('../img/header-delim.png');
	background-repeat: no-repeat;
	width: 6px;
	margin: 0 20px;
}

.icon{
	max-width: 100px;
	text-align: center;
	transition: .5s;
}

.icon a{
	color: #25485e;
	text-align: center;
}

.icon img{
	width: 100%;
}

.icon:hover{
	max-width: 105px;
}

.profile{
	text-align: center;
}
.avatar{
	width: 70%;
	border-radius: 200px;
}

.card{
	box-shadow: 0 0 8px #ddd;
	margin-bottom: 30px;
}

footer{
	background-color: #00abc6;

padding: 40px;

border-top: 2px solid #00465f;

color: #fff;
}