<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/style/main.css">
    <title>pet.ru | Сайт о любимых питомцах</title>
</head>
<body>
    <div id="app">
       
        <nav>
            <ul>
                <li class="logo">
                    <a href="/">
                        <img src="assets/img/icons/logo_white.png">
                        pet.ru
                    </a>
                </li>
                <li>
                    <a href="/pets">Питомцы</a>
                </li>
                <li>
                    <a href="/blog">Интересное</a>
                </li>
                <li class="right">
                    <a href="/login">Войти</a>  |  
                    <a href="/registration">Регистрация</a>
                </li>
            </ul>
        </nav>
        
        <div class="page">
           
            <div class="mission">
                <h2>Наша миссия</h2>

                <p>Наша миссия - создать самое крупное сообщество владельцев домашних животных. Здесь всегда готовы помочь питомцам, попавшим в беду, подсказать, где можно найти магазин или ветеринарную клинику, и, конечно, же, просто похвастаться своим любимцем!</p>

                <p class="_right">команда "Временной парадокс" &hearts;</p>
            </div>
           
            <div class="grid grid-3">
               
                <div class="cell">
                    <a href="/user/123">
                        <img src="assets/img/icons/mypet.png">
                        <span>Мои питомцы</span>
                    </a>
                </div>
                
                <div class="cell">
                    <a href="/user/123">
                        <img src="assets/img/icons/chat.png">
                        <span>Общение</span>
                    </a>
                </div>
                
                <div class="cell">
                    <a href="/user/123">
                        <img src="assets/img/icons/lost.png">
                        <span>Потерянные питомцы</span>
                    </a>
                </div>
                
<!--
                <div class="cell">
                    <a href="/user/123">
                        <img src="assets/img/logo.jpg">
                        <span>Уход и здоровье</span>
                    </a>
                </div>
-->
                
<!--
                <div class="cell">
                    <a href="/user/123">
                        <img src="assets/img/logo.jpg">
                        <span>Магазины</span>
                    </a>
                </div>
-->
                
<!--
                <div class="cell">
                    <a href="/user/123">
                        <img src="assets/img/logo.jpg">
                        <span>Продажа и обмен</span>
                    </a>
                </div>
-->
                
            </div>
        </div>
        
    </div>
</body>
</html>