<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/style/main.css">
    <title>pet.ru | Собака Жучка (4 года)</title>
</head>
<body>
    <div id="app">
       
        <nav>
            <ul>
                <li class="logo">
                    <a href="/">
                        <img src="assets/img/icons/logo_white.png">
                        pet.ru
                    </a>
                </li>
                <li>
                    <a href="/pets">Питомцы</a>
                </li>
                <li>
                    <a href="/blog">Интересное</a>
                </li>
                <li class="right">
                    <a href="/login">Войти</a>  |  
                    <a href="/registration">Регистрация</a>
                </li>
            </ul>
        </nav>
        
        <div class="page">
          
            <div class="user">
                <div class="left-bar">
                    <ul>
                        <li class="name">
                            <h2>Жучка</h2>
                            <p>Собака, дворняга</p>
                            <p>4 года</p>
                            <img src="assets/img/pets/dog.jpg" class="person">
                        </li>
                        <hr>
                        <li><a href="/user/123/pets">Мои питомцы</a></li>
                        <li><a href="/user/123/friends">Мои друзья</a></li>
                        <li><a href="/user/123/settings">Мои настройки</a></li>
                        <hr>
                        <li><a href="/user/123/logout">Выйти</a></li>
                    </ul>
                </div>
                <div class="right-bar">
                    <h3>Информация о питомце:</h3>
                    <p>Моя Жучка была взята из приюта в г. Нижнемартовске. В три года была записана в школу полицейских собак, после чего участвовала в войне, разминировала двадцать мин и уничтожила три вражеских танка.</p>
                    <p>Жучка очень любит валяться на траве, грызть мебель и уничтожать танки.</p>
                    
                    <h3>Хозяин:</h3>
                    <p><a href="/user/123">Иван Иванов</a></p>
                </div>
            </div>
           
        </div>
        
    </div>
</body>
</html>