<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/style/main.css">
    <title>pet.ru | Иван Иванов</title>
</head>
<body>
    <div id="app">
       
        <nav>
            <ul>
                <li class="logo">
                    <a href="/">
                        <img src="assets/img/icons/logo_white.png">
                        pet.ru
                    </a>
                </li>
                <li>
                    <a href="/pets">Питомцы</a>
                </li>
                <li>
                    <a href="/blog">Интересное</a>
                </li>
                <li class="right">
                    <a href="/login">Войти</a>  |  
                    <a href="/registration">Регистрация</a>
                </li>
            </ul>
        </nav>
        
        <div class="page">
          
            <div class="user">
                <div class="left-bar">
                    <ul>
                        <li>
                            <h2>Иван Иванов</h2>
                            <img src="assets/img/people/person.JPG" class="person">
                        </li>
                        <hr>
                        <li><a href="/user/123/pets">Мои питомцы</a></li>
                        <li><a href="/user/123/friends">Мои друзья</a></li>
                        <li><a href="/user/123/settings">Мои настройки</a></li>
                        <hr>
                        <li><a href="/user/123/logout">Выйти</a></li>
                    </ul>
                </div>
                <div class="right-bar">
                    <h3>Информация о себе:</h3>
                    <p>Я родился в славном городе Москве во время Гражданской войны, лично жал руку Ленину, а потом Сталину. В пятьдесят первом был арестован за хищение картофеля и уехал в Сахалин, откуда бежал в Австралию. Остаток жизни разводил кенгуру и горностаев. Есть две дочери, одна из них президент Марокко.</p>
                    
                    <h3>Мои питомцы:</h3>
                    <p><a href="/pet/1">- Собака Жучка (4 года)</a></p>
                    <p><a href="/pet/2">- Кошка Мурка (6 лет)</a></p>
                    <p><a href="/pet/3">- Крыса Лариса (3 года)</a></p>
                    
                    <h3>Мои награды:</h3>
                    <p>- Великий волонтёр (за нахождение более 5 животных)</p>
                    <p>- Легендарный купец (за продажу более 20 животных)</p>
                    <p>- Мудрец-зоолог (за рейтинг 100 и более на форуме)</p>
                </div>
            </div>
           
        </div>
        
    </div>
</body>
</html>